<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<body >
<hr />
<div id="main">
<div id="list" v-if="UI=='main'">
	<h1>This is the main page.</h1>
	<hr/>
	{{info}}
    <hr/>
    <input type='button' @click="logout()" value="logout">
</div>
<div v-if="UI=='loginForm'">
	ID: <input type="text"  v-model="id"/> <br/>
	Password: <input type="text" v-model="pwd" />
	<input type='button' @click="login()" value="login">
</div>
</div>
<script>
const todoApp= Vue.createApp({
	data() {
		return {
			UI: '',
			id: '',
			pwd: '',
			info: 'xx'
		}
	},
	methods: {
		setUI: function(page) {
			this.UI=page;
		},
		checkLogin: function() {
			const role=Cookies.get('loginRole');
			console.log(role);
			return (role >'0');
		},
		logout: function() {
				const that=this;
				// you may also use document.getElementById('loginID').value to get that field
				let url="loginCheck.php?act=logout";
				//url="loginCheck.py";
				fetch(url,{
					method: 'POST',
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){
					console.log(data);
					if (that.checkLogin()) {
						that.setUI('main');
					} else {
						that.setUI('loginForm');
					}				
				})
		},
		login: function() {
				const that=this;
				let mydat = new FormData();
				mydat.append( "id", this.id);
				// you may also use document.getElementById('loginID').value to get that field
				mydat.append( "pwd", this.pwd);
				mydat.append( "act", 'login');
				console.log(mydat);
				let url="loginCheck.php";
				//url="loginCheck.py";
				fetch(url,{
					method: 'POST',
					body: mydat // 將表單物件放入fetch的body屬性
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){
					console.log(data);
					if (that.checkLogin()) {
						that.setUI('main');
						that.loadInfo();
					} else {
						alert('incorrect id or pwd.');
					}				
				})
		},
		loadInfo: function() {
				const that=this;
				let mydat = new FormData();
				mydat.append( "act", 'showInfo');
				let url="loginCheck.php";
				//url="loginCheck.py";
				fetch(url,{
					method: 'POST',
					body: mydat
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){
					that.info = data;
					console.log(999,data);
				})
		}
	},
	created() {		
		if (this.checkLogin() ) {
			this.setUI('main');
		} else {
			this.setUI('loginForm');
		}
	}
}).mount("#main");
</script>
</body></html>